/* Calendário */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calendar {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

#month-year {
    font-size: 1.5em;
    font-weight: bold;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.weekdays div {
    font-weight: bold;
    color: #333;
}

.days div {
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.days div:hover {
    background-color: #ccc;
}

.selected {
    background-color: #00bfff;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.close {
    color: red;
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}
