
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1a1a1a, #1a237e);
    color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: fit-content;
}


.menu-item {
    background-color: #FFD700;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.spotify-container {
    margin-left: 20px;
    width: 250px;
    height: auto;
}


.menu-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
